<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cards against Humanity</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="/scripts/index.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/styles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    Set your name:
    <input id="name" type="text"></input>
    <input id="join" type="button" value="Ok!"></input>
  </body>
</html>
